.header {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 20px;
    align-items: "center";
}

.link {
    color: white;
    text-decoration: none;
    line-height: 28px;
    font-size: 13px;
}

.imageLink {
    color: white;
    text-decoration: none;
    line-height: 28px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 15px;
}
