.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tile {
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 112px;
    opacity: 1;
    outline: 0;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: left, top;
    transition-timing-function: ease-in-out;
    user-select: none;
    width: 112px;
    justify-content: center;
}

.tile:hover {
    background-color: rgb(140, 141, 144);
}

.title-ltr {
    direction: ltr;
}

.tile-title {
    align-items: center;
    border-radius: calc(var(--title-height) / 2 + 2px);
    color: white;
    display: flex;
    height: var(--title-height);
    line-height: calc(var(--title-height) / 2);
    margin-top: 6px;
    padding: 2px 8px;
    width: 88px;
    font-size: 13px;
    justify-content: center;
}

.widgets {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 577px;
}

.widget_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media (max-width: 375px) {
    .widgets {
        width: 300px;
    }
    .tile {
        width: 60px;
        height: 60px;
    }
    .widget_icon {
        width: 25px;
        height: 25px;
    }
    .tile-title {
        font-size: 9px;
        justify-content: center;
    }
}
